  <div class="page-canvas team"><img src="assets/images/Driving.png" loading="lazy" sizes="100vw" srcset="assets/images/Driving-p-500.png 500w, assets/images/Driving-p-800.png 800w, assets/images/Driving.png 994w" alt="" class="background-hero-image">
    <div class="overlay-gradient"></div>
    

<!---------------------------- NAVIGATION START ---------------------------->
<app-header></app-header>

    <!-- <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation-wrapper w-nav">
      <div class="navigation-container secondary w-container">
        <a href="index.html" class="brand w-nav-brand">      
         <img src="assets/images/ACI-Just-Logo---Large-Transparent.png" loading="lazy" sizes="40px" srcset="assets/images/ACI_Just_Logo_Large-Transparent-p-500.png 500w, assets/images/ACI_Just_Logo_Large-Transparent.png    620w" alt="" class="logo-icon">
        </a>
        <nav role="navigation" class="nav-menu secondary w-nav-menu">
          <div data-hover="" data-delay="0" class="dropdown w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              <div>About Us</div>
              
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="about.html" aria-current="page" class="dropdown-link w-dropdown-link w--current">About The Company</a>
              <a href="our-team.html" class="dropdown-link w-dropdown-link">Meet The Team</a>
              <a href="news.html" class="dropdown-link w-dropdown-link">News</a>
              <a href="ad-landing.html" class="dropdown-link w-dropdown-link">Ads Landing</a>
              <a href="full-width.html" class="dropdown-link w-dropdown-link">Full Width</a>
            </nav>
          </div>
          <a href="carriers.html" class="nav-link w-nav-link">Carriers</a>
          <div data-hover="" data-delay="0" class="dropdown w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              <div>Customers</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="customers.html" class="dropdown-link w-dropdown-link">Customers</a>
              <a href="personal-or-business-vehicle.html" class="dropdown-link w-dropdown-link">Personal Vehicle or Business Vehicles</a>
              <a href="general-freight.html" class="dropdown-link w-dropdown-link">General Freight</a>
            </nav>
          </div>
          <div data-hover="" data-delay="0" class="dropdown w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              <div>CarriedAway</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="carriedaway.html" class="dropdown-link w-dropdown-link">CarriedAway</a>
              <a href="#" class="dropdown-link w-dropdown-link">Customer Portal Login</a>
            </nav>
          </div>
          <a href="careers.html" class="nav-link w-nav-link">Careers</a>
          <a href="pricing-calculator.html" class="nav-link w-nav-link">Advanced Quote Calculator</a>
          <a href="contact.html" class="nav-link contact w-nav-link">Contact</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
        </div>
      </div>
    </div> -->

<!---------------------------- NAVIGATION END ---------------------------->
    <div class="hero-row">
      <div class="heading-wrapper">
        <div class="hero-secondary-page-wrapper">
          <h1 class="hero-secondary-page-title">Careers at ACI Transport</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="main-padding stacked-tab">
        <div class="_50-block full-tab">
          <img src="assets/images/89118940_2519771221627285_3871603607899996160_o.jpg" loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 84vw, (max-width: 991px) 88vw, 49vw" srcset="assets/images/89118940_2519771221627285_3871603607899996160_o-p-500.jpeg 500w, assets/images/89118940_2519771221627285_3871603607899996160_o-p-800.jpeg 800w, assets/images/89118940_2519771221627285_3871603607899996160_o-p-1080.jpeg 1080w, assets/images/89118940_2519771221627285_3871603607899996160_o-p-1600.jpeg 1600w, assets/images/89118940_2519771221627285_3871603607899996160_o-p-2000.jpeg 2000w, assets/images/89118940_2519771221627285_3871603607899996160_o.jpg 2048w" alt="" class="content-image">
          <h2 class="section-heading centered-tab">Section Heading Here</h2>
          <p class="main-paragraph space-below">ACI Transport, at its very core, is built around adaptability, communication and integrity. It is these values that drive us to change the brokerage approach for our carriers. The industry as a whole tends to think of the carrier last, leaving you as the only one worrying about your profits and the success of your company.<br><br>We connect with professionals both inside and outside of our network to determine a fair rate for customers and carriers alike. Joining our network means having a team of dedicated individuals working tirelessly to present you with profitable opportunities without having to surf load boards or make cold calls.<br><br>Connect with ACI Transport today to ensure you do not miss your next opportunity.</p>
        </div>
        <div class="_50-block full-tab">
          <h2 class="section-heading centered-tab">Benefits of working At ACI Transport</h2>
          <div class="rich-text about w-richtext">
            <ul role="list">
              <li>Bullet point about the company and value</li>
              <li>Bullet point about the company and value</li>
              <li>Bullet point about the company and value</li>
              <li>Bullet point about the company and value</li>
              <li>Bullet point about the company and value</li>
              <li>Bullet point about the company and value</li>
            </ul>
          </div><img src="assets/images/ACI_christmas_photo_1.jpg" loading="lazy" alt="" class="content-image first-tab">
          <a href="#" class="button-outline w-button">Meet The Leadership</a>
        </div>
      </div>
    </div>
    <div class="row cta-row">
      <div class="main-padding stacked-desk">
        <div class="_100-block centered-desk">
          <h2 class="cta-heading">Interested in joining the ACI Team?</h2>
          <a href="our-team.html" class="button-outline cta w-button">Contact Us Today</a>
        </div>
      </div>
    </div>
    

 <!-- -------------------------- FOOTER START ---------------------------->

<app-footer></app-footer>

    <!-- <div class="footer-bar">
      <div class="social-wrapper">
        <a href="https://www.facebook.com/ACItransportsolutions/" target="_blank" class="social-icon w-inline-block">
          <div></div>
        </a>
        <a href="https://twitter.com/ACITransport?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="social-icon w-inline-block">
          <div></div>
        </a>
        <a href="https://www.linkedin.com/company/aci-transport-inc" class="social-icon w-inline-block">
          <div></div>
        </a>
      </div>
      <div class="div-block">
        <div class="secondary-footer-links">
          <a href="https://www.google.com/maps/dir/42.4116224,-83.4535424/aci+transport/@42.4369102,-83.4343743,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8824cf00cedae43b:0xe6b3585f9bf2e6fd!2m2!1d-83.1386309!2d42.460951" target="_blank" class="nav-link footer">320 W. 9 Mile Rd. Ferndale, MI 48220</a>
          <a href="terms-of-service.html" class="nav-link footer">Terms of Service</a>
          <a href="privacy-policy.html" class="nav-link footer">Privacy Policy</a>
        </div>
        <a href="#" class="nav-link chat"><span class="user"><strong></strong></span> Chat</a>
      </div>
    </div> -->
    

<!---------------------------- FOOTER END -------------------------- -->


  </div>