
 <!-- -------------------------- FOOTER START ---------------------------->
 <div class="footer-bar">
    <div class="social-wrapper">
      <a href="https://www.facebook.com/ACItransportsolutions/" target="_blank" class="social-icon w-inline-block">
        <div></div>
      </a>
      <a href="https://twitter.com/ACITransport?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="social-icon w-inline-block">
        <div></div>
      </a>
      <a href="https://www.linkedin.com/company/aci-transport-inc" class="social-icon w-inline-block">
        <div></div>
      </a>
    </div>
    <div class="div-block">
      <div class="secondary-footer-links">
        <a href="https://www.google.com/maps/dir/42.4116224,-83.4535424/aci+transport/@42.4369102,-83.4343743,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8824cf00cedae43b:0xe6b3585f9bf2e6fd!2m2!1d-83.1386309!2d42.460951" target="_blank" class="nav-link footer">320 W. 9 Mile Rd. Ferndale, MI 48220</a>
        <a href="terms-of-service.html" class="nav-link footer">Terms of Service</a>
        <a href="privacy-policy.html" class="nav-link footer">Privacy Policy</a>
      </div>
      <a href="#" class="nav-link chat"><span class="user"><strong></strong></span> Chat</a>
    </div>
  </div> 

<!---------------------------- FOOTER END -------------------------->
