    <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation-wrapper w-nav">
      <div class="navigation-container secondary w-container">
        <a href="index.html" class="brand w-nav-brand">      
         <img src="assets/images/ACI-Just-Logo---Large-Transparent.png" loading="lazy" sizes="40px" srcset="assets/images/ACI_Just_Logo_Large-Transparent-p-500.png 500w, assets/images/ACI_Just_Logo_Large-Transparent.png    620w" alt="" class="logo-icon">
        </a>
        <nav role="navigation" class="nav-menu secondary w-nav-menu">
          <div data-hover="" data-delay="0" class="dropdown w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              <div>About Us</div>
              
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="about.html" aria-current="page" class="dropdown-link w-dropdown-link w--current">About The Company</a>
              <a href="our-team.html" class="dropdown-link w-dropdown-link">Meet The Team</a>
              <a href="news.html" class="dropdown-link w-dropdown-link">News</a>
              <a href="ad-landing.html" class="dropdown-link w-dropdown-link">Ads Landing</a>
              <a href="full-width.html" class="dropdown-link w-dropdown-link">Full Width</a>
            </nav>
          </div>
          <a href="carriers.html" class="nav-link w-nav-link w--current">Carriers</a>
          <div data-hover="" data-delay="0" class="dropdown w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              <div>Customers</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="customers.html" class="dropdown-link w-dropdown-link">Customers</a>
              <a href="personal-or-business-vehicle.html" class="dropdown-link w-dropdown-link">Personal Vehicle or Business Vehicles</a>
              <a href="general-freight.html" class="dropdown-link w-dropdown-link">General Freight</a>
            </nav>
          </div>
          <div data-hover="" data-delay="0" class="dropdown w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              <div>CarriedAway</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="carriedaway.html" class="dropdown-link w-dropdown-link">CarriedAway</a>
              <a href="#" class="dropdown-link w-dropdown-link">Customer Portal Login</a>
            </nav>
          </div>
          <a routerLink="careers.html" class="nav-link w-nav-link">Careers</a>
          <a href="pricing-calculator.html" class="nav-link w-nav-link">Advanced Quote Calculator</a>
          <a href="contact.html" class="nav-link contact w-nav-link">Contact</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
        </div>
      </div>
    </div>