<div class="page-canvas team">
  <div
    data-poster-url="https://uploads-ssl.webflow.com/5fd572b0b1b5fda676bc7715/5ff34ac9a01dcc4c2f8f801e_My Video 2-poster-00001.jpg"
    data-video-urls="https://uploads-ssl.webflow.com/5fd572b0b1b5fda676bc7715/5ff34ac9a01dcc4c2f8f801e_My Video 2-transcode.mp4,https://uploads-ssl.webflow.com/5fd572b0b1b5fda676bc7715/5ff34ac9a01dcc4c2f8f801e_My Video 2-transcode.webm"
    data-autoplay="true"
    data-loop="true"
    data-wf-ignore="true"
    class="background-video w-background-video w-background-video-atom"
  >
    <video
      autoplay=""
      loop=""
      style="
        background-image: url('https://uploads-ssl.webflow.com/5fd572b0b1b5fda676bc7715/5ff34ac9a01dcc4c2f8f801e_My Video 2-poster-00001.jpg');
      "
      muted=""
      playsinline=""
      data-wf-ignore="true"
      data-object-fit="cover"
    >
      <source
        src="https://uploads-ssl.webflow.com/5fd572b0b1b5fda676bc7715/5ff34ac9a01dcc4c2f8f801e_My Video 2-transcode.mp4"
        data-wf-ignore="true"
      />
      <source
        src="https://uploads-ssl.webflow.com/5fd572b0b1b5fda676bc7715/5ff34ac9a01dcc4c2f8f801e_My Video 2-transcode.webm"
        data-wf-ignore="true"
      />
    </video>
  </div>
  <div class="overlay-gradient"></div>
  <div class="div-block-2">
    <div class="top-grid-row">
      <div class="top-left-grid">
        <div
          data-collapse="medium"
          data-animation="default"
          data-duration="400"
          role="banner"
          class="navigation-wrapper w-nav"
        >
          <div class="navigation-container w-container">
            <a
              [routerLink]="['/']"
              aria-current="page"
              class="brand w-nav-brand w--current"
              ><img
                src="/assets/images/ACI_Just_Logo_Large-Transparent.png"
                loading="lazy"
                sizes="(max-width: 991px) 40px, 4vw"
                srcset="
                  /assets/images/ACI_Just_Logo_Large-Transparent-p-500.png 500w,
                  /assets/images/ACI-Just-Logo---Large-Transparent.png     620w
                "
                alt=""
                class="logo-icon"
            /></a>
            <nav role="navigation" class="nav-menu w-nav-menu">
              <div
                data-hover=""
                data-delay="0"
                class="dropdown home w-dropdown"
              >
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                  <div>About Us</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <a href="about.html" class="dropdown-link w-dropdown-link"
                    >About The Company</a
                  >
                  <a href="our-team.html" class="dropdown-link w-dropdown-link"
                    >Meet The Team</a
                  >
                  <a href="news.html" class="dropdown-link w-dropdown-link"
                    >News</a
                  >
                  <a
                    href="ad-landing.html"
                    class="dropdown-link w-dropdown-link"
                    >Ads Landing</a
                  >
                  <a
                    href="full-width.html"
                    class="dropdown-link w-dropdown-link"
                    >Full Width</a
                  >
                </nav>
              </div>
              <a routerLink="/carriers" class="nav-link w-nav-link">Carriers</a>
              <div
                data-hover=""
                data-delay="0"
                class="dropdown home w-dropdown"
              >
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                  <div>Customers</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <a href="customers.html" class="dropdown-link w-dropdown-link"
                    >Customers</a
                  >
                  <a
                    href="personal-or-business-vehicle.html"
                    class="dropdown-link w-dropdown-link"
                    >Personal Vehicle or Business Vehicle</a
                  >
                  <a
                    href="general-freight.html"
                    class="dropdown-link w-dropdown-link"
                    >General Freight</a
                  >
                </nav>
              </div>
              <div
                data-hover=""
                data-delay="0"
                class="dropdown home w-dropdown"
              >
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                  <div>CarriedAway</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <a
                    href="carriedaway.html"
                    class="dropdown-link w-dropdown-link"
                    >CarriedAway</a
                  >
                  <a href="#" class="dropdown-link w-dropdown-link"
                    >CarriedAway Customer Portal</a
                  >
                </nav>
              </div>
              <a routerLink="/careers" class="nav-link w-nav-link">Careers</a>
              <a href="pricing-calculator.html" class="nav-link w-nav-link"
                >Advanced Quote Calculator</a
              >
              <a href="contact.html" class="nav-link w-nav-link">Contact</a>
            </nav>
            <div class="menu-button w-nav-button">
              <div class="menu-line"></div>
              <div class="menu-line"></div>
              <div class="menu-line"></div>
            </div>
          </div>
        </div>
        <div class="hero-row">
          <div class="hero-text-wrapper">
            <div class="heading-wrapper">
              <h1 class="fade-up tricks hero-heading-top">
                <span class="span-text-hero">ACI </span
                ><span class="span-hero-green">Transport</span>, redefining
                transport through...
              </h1>
              <div class="hero-heading-text-wrapper">
                <h1 class="hero-heading-bottom _1">Adapability</h1>
                <h1  class="hero-heading-bottom _2">Communication</h1>
                <h1  class="hero-heading-bottom _3">Integrity</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-tab-block">
        <div class="home-tabs-section">
          <div class="tab-wrapper">
            <div
              data-duration-in="300"
              data-duration-out="100"
              class="hero-tabs w-tabs"
            >
              <div class="tabs-menu w-tab-menu">
                <a
                  data-w-tab="Tab 3"
                  class="tab-link w-inline-block w-tab-link w--current"
                >
                  <div class="tab-text-wrapper">
                    <div class="tab-text">About Us</div>
                  </div>
                </a>
                <a
                  data-w-tab="Tab 4"
                  class="tab-link w-inline-block w-tab-link"
                >
                  <div class="tab-text-wrapper">
                    <div class="tab-text">Carriers</div>
                  </div>
                </a>
                <a
                  data-w-tab="Tab 5"
                  class="tab-link w-inline-block w-tab-link"
                >
                  <div class="tab-text-wrapper">
                    <div class="tab-text">Customers</div>
                  </div>
                </a>
                <a
                  data-w-tab="Tab 6"
                  class="tab-link w-inline-block w-tab-link"
                >
                  <div class="tab-text-wrapper">
                    <div class="tab-text">CarriedAway</div>
                  </div>
                </a>
                <a
                  data-w-tab="Tab 7"
                  class="tab-link w-inline-block w-tab-link"
                >
                  <div class="tab-text-wrapper">
                    <div class="tab-text">Careers</div>
                  </div>
                </a>
              </div>
              <div class="tab-content-wrapper w-tab-content">
                <div
                  data-w-tab="Tab 3"
                  class="tab-content w-tab-pane w--tab-active"
                >
                  <div class="tab-block">
                    <div class="preview-wrapper">
                      <div class="text-subheading">
                        This is some text inside of a div block.
                      </div>
                      <h2 class="form-heading">About Us</h2>
                      <p class="main-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare, eros dolor interdum
                        nulla, ut commodo
                      </p>
                    </div>
                    <a href="#" class="button-outline w-button">Button Text</a>
                  </div>
                </div>
                <div data-w-tab="Tab 4" class="tab-content w-tab-pane">
                  <div class="tab-block">
                    <div class="preview-wrapper">
                      <div class="text-subheading">
                        This is some text inside of a div block.
                      </div>
                      <h2 class="form-heading">Carriers</h2>
                      <p class="main-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare, eros dolor interdum
                        nulla, ut commodo
                      </p>
                    </div>
                    <a href="#" class="button-outline w-button">Button Text</a>
                  </div>
                </div>
                <div data-w-tab="Tab 5" class="tab-content w-tab-pane">
                  <div class="tab-block">
                    <div class="preview-wrapper">
                      <div class="text-subheading">
                        This is some text inside of a div block.
                      </div>
                      <h2 class="form-heading">Customers</h2>
                      <p class="main-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare, eros dolor interdum
                        nulla, ut commodo
                      </p>
                    </div>
                    <a href="#" class="button-outline w-button">Button Text</a>
                  </div>
                </div>
                <div data-w-tab="Tab 6" class="tab-content w-tab-pane">
                  <div class="tab-block">
                    <div class="preview-wrapper">
                      <div class="text-subheading">
                        This is some text inside of a div block.
                      </div>
                      <h2 class="form-heading">CarriedAway</h2>
                      <p class="main-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare, eros dolor interdum
                        nulla, ut commodo
                      </p>
                    </div>
                    <a href="#" class="button-outline w-button">Button Text</a>
                  </div>
                </div>
                <div data-w-tab="Tab 7" class="tab-content w-tab-pane">
                  <div class="tab-block">
                    <div class="preview-wrapper">
                      <div class="text-subheading">
                        This is some text inside of a div block.
                      </div>
                      <h2 class="form-heading">Careers</h2>
                      <p class="main-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare, eros dolor interdum
                        nulla, ut commodo
                      </p>
                    </div>
                    <a href="#" class="button-outline w-button">Button Text</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="tab-prev w-button"><strong></strong></a>
            <a href="#" class="tab-next w-button"><strong></strong></a>
          </div>
          <div class="hero-stats">
            <div class="stat-item">
              <div class="stat-number">1.5 mil</div>
              <p class="stat-detail">Lorem ipsum dolor</p>
            </div>
            <div class="stat-item">
              <div class="stat-number">1.5 mil</div>
              <p class="stat-detail">Lorem ipsum dolor</p>
            </div>
            <div class="stat-item">
              <div class="stat-number">1.5 mil</div>
              <p class="stat-detail">Lorem ipsum dolor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-grid-row">
      <div class="top-right-grid">
        <div class="cta-button-top">
          <div class="navigation-menu-button">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
          </div>
          <div>
            <a href="#" class="nav-link cta">Start Here To Get A Quote</a>
          </div>
        </div>
        <div class="hero-form">
          <div class="form-block w-form">
            <div>
              <h2 class="form-heading white">Get a Quote</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse.
              </p>
            </div>
            <form
              id="email-form"
              name="email-form"
              data-name="Email Form"
              class="form-wrapper"
            >
              <input
                type="text"
                class="input w-input"
                maxlength="256"
                name="name"
                data-name="Name"
                placeholder="Name"
                id="name"
              /><input
                type="email"
                class="input w-input"
                maxlength="256"
                name="email"
                data-name="Email"
                placeholder="Email"
                id="email"
                required=""
              /><input
                type="submit"
                value="Get Started"
                data-wait="Please wait..."
                class="submit-button w-button"
              />
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-news-block">
        <div class="news-grid">
          <a href="#" class="news-item w-inline-block"
            ><img
              src="/assets/images/AdobeStock_179606275_Preview.jpeg"
              loading="lazy"
              sizes="(max-width: 479px) 47vw, (max-width: 767px) 38vw, (max-width: 991px) 190px, 173px"
              srcset="
                /assets/images/AdobeStock_179606275_Preview-p-500.jpeg  500w,
                /assets/images/AdobeStock_179606275_Preview-p-800.jpeg  800w,
                /assets/images/AdobeStock_179606275_Preview.jpeg       1000w
              "
              alt=""
              class="news-image"
            />
            <div class="news-grid-content">
              <div class="news-grid-title">
                News Title - Lorem ipsum dolor sit amet
              </div>
            </div>
          </a>
          <a href="#" class="news-item w-inline-block"
            ><img
              src="/assets/images/AdobeStock_278618912_Preview.jpeg"
              loading="lazy"
              sizes="(max-width: 479px) 47vw, (max-width: 767px) 38vw, (max-width: 991px) 190px, 173px"
              srcset="
                /assets/images/AdobeStock_278618912_Preview-p-500.jpeg  500w,
                /assets/images/AdobeStock_278618912_Preview-p-800.jpeg  800w,
                /assets/images/AdobeStock_278618912_Preview.jpeg       1000w
              "
              alt=""
              class="news-image"
            />
            <div class="news-grid-content">
              <div class="news-grid-title">
                News Title - Lorem ipsum dolor sit amet
              </div>
            </div>
          </a>
          <a href="#" class="news-item w-inline-block"
            ><img
              src="/assets/images/AdobeStock_192810166_Preview.jpeg"
              loading="lazy"
              sizes="(max-width: 479px) 47vw, (max-width: 767px) 38vw, (max-width: 991px) 190px, 173px"
              srcset="
                /assets/images/AdobeStock_192810166_Preview-p-500.jpeg  500w,
                /assets/images/AdobeStock_192810166_Preview-p-800.jpeg  800w,
                /assets/images/AdobeStock_192810166_Preview.jpeg       1000w
              "
              alt=""
              class="news-image"
            />
            <div class="news-grid-content">
              <div class="news-grid-title">
                News Title - Lorem ipsum dolor sit amet
              </div>
            </div>
          </a>
          <a href="#" class="news-item w-inline-block"
            ><img
              src="/assets/images/AdobeStock_193218762_Preview.jpeg"
              loading="lazy"
              sizes="(max-width: 479px) 47vw, (max-width: 767px) 38vw, (max-width: 991px) 190px, 173px"
              srcset="
                /assets/images/AdobeStock_193218762_Preview-p-500.jpeg  500w,
                /assets/images/AdobeStock_193218762_Preview-p-800.jpeg  800w,
                /assets/images/AdobeStock_193218762_Preview.jpeg       1000w
              "
              alt=""
              class="news-image"
            />
            <div class="news-grid-content">
              <div class="news-grid-title">
                News Title - Lorem ipsum dolor sit amet
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!---------------------------- FOOTER START ---------------------------->

  <div class="footer-bar">
    <div class="social-wrapper">
      <a
        href="https://www.facebook.com/ACItransportsolutions/"
        target="_blank"
        class="social-icon w-inline-block"
      >
        <div></div>
      </a>
      <a
        href="https://twitter.com/ACITransport?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
        target="_blank"
        class="social-icon w-inline-block"
      >
        <div></div>
      </a>
      <a
        href="https://www.linkedin.com/company/aci-transport-inc"
        class="social-icon w-inline-block"
      >
        <div></div>
      </a>
    </div>
    <div class="div-block">
      <div class="secondary-footer-links">
        <a
          href="https://www.google.com/maps/dir/42.4116224,-83.4535424/aci+transport/@42.4369102,-83.4343743,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8824cf00cedae43b:0xe6b3585f9bf2e6fd!2m2!1d-83.1386309!2d42.460951"
          target="_blank"
          class="nav-link footer"
          >320 W. 9 Mile Rd. Ferndale, MI 48220</a
        >
        <a href="terms-of-service.html" class="nav-link footer"
          >Terms of Service</a
        >
        <a href="privacy-policy.html" class="nav-link footer">Privacy Policy</a>
      </div>
      <a href="#" class="nav-link chat"
        ><span class="user"><strong></strong></span> Chat</a
      >
    </div>
  </div>
  <!---------------------------- FOOTER END ---------------------------->
</div>
